@model IEnumerable<WebApplication_ReadRate.Models.ReseñaViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="page-header">
    <h1>Reseñas recientes </h1>
</div>

<div class="container">
    <div class="action-bar">
        <h2 class="section-title">Listado de Reseñas </h2>
        <a asp-action="Create" class="btn-create">+ Crear nueva reseña</a>
    </div>

    <div class="books-grid">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <div class="book-card">
                    <div class="notification-header">
                        <div class="book-title">@Html.DisplayFor(modelItem => item.LibroNombre)</div>
                    </div>
                    <div class="book-info">
                        <div class="book-meta">
                            <div class="book-meta-item">
                                <strong>Valoración:</strong>  @Html.DisplayFor(modelItem => item.Valoracion) / 5
                            </div>
                            <div class="book-meta-item">
                                <strong>Opinión:</strong> @Html.DisplayFor(modelItem => item.Opinion)
                            </div>
                            <div class="book-meta-item">
                                <strong>Lector reseñador:</strong> @Html.DisplayFor(modelItem => item.LectorNombre)
                            </div>
                            <div class="book-meta-item">
                                <strong>Fecha:</strong> @Html.DisplayFor(modelItem => item.FechaPublicacion)
                            </div>
                        </div>
                        <div class="book-actions">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-action">Detalles</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-action edit">Editar</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn-action delete">Borrar</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-books">
                No hay reseña en el listado. ¡Añade la primera!
            </div>
        }
    </div>
</div>
